.x-progress-wrap {

	border-color: #988495;
}


.x-progress-inner {

	background-color: #e9d5e6;
	background-image: url(../images/default/qtip/bg.gif);
}


.x-progress-bar {

	background-color: #c1adbd;
	background-image: url(../images/default/progress/progress-bg.gif);
	border-top-color: #e4d0e0;
	border-bottom-color: #ad99a9;
	border-right-color: #ad99a9;
}


.x-progress-text {

	font-size: 11px;
	font-weight: bold;
	color: #e5e4ee;
}


.x-progress-text-back {

	color: #52515b;
}
